body {
width: 90%;
font-family:"Georgiya", serif;
margin:0 auto;
height: 5000px;
background-image: linear-gradient(to right, yellow, darkorange, yellow);
}
ul {
 padding:0;
 margin:0;
 list-style: none;
}
.page-header {
 min-height: 150px;
 background-color: #fff;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 padding-left: 70px;
 padding-right: 70px;
}
.page-header b {
 text-transform: uppercase;
}
.page-header b:nth-child(2) {
 margin-left: auto;
 margin-right:50px; 
}
.page-header__title {
font-size: 28px;
font-weight: normal;
font-style: italic;
}
.page-header__telephone {
font-weight: normal;
}
.sub-menu__level_two, .sub-menu__level_three {
 display: none;
 background-color: rgba(0,105,168,0.5);
}
.main-nav {

 position: relative;
 flex-wrap: wrap;
 flex-grow: 1;
 align-items: center;
 background-color: rgba(0,105,168,1);

} 
.main-nav li {
 display: inline-block;
}
.main-nav a {
  text-decoration: none;
}
.main-nav a:hover {
 text-decoration: underline;
  background-color: rgba(0,105,168,1);
}
.main-nav a {
 display: block;
 color: #fff;
 text-transform: uppercase;
 font-size: 16px;
 padding: 25px;
}
.main-nav > li:hover .sub-menu__level_two {
 display: block;
 z-index:2;
}


.main-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #e5e5e5;
}

.main-nav > li {
    position: relative;
    display: inline-block;

}

.main-nav ul>li>a {
 display: block;
 padding: 10px 10px;
 color: #fff;
 width: 175px;
}

.main-nav li:hover {
 background-color: rgba(0,105,168,1);
}

.sub-menu__level_two {
 position: absolute;
 display: none;
 list-style: none;
 background-color: rgba(0,105,168,0.5);
}
.sub-menu__level_two a, .sub-menu__level_three a {
 border-bottom: 1px solid #fff;
padding-left: 10px;
}
.sub-menu__level_three {
 display: none;
 position: absolute;
 top:39px;
 left:195px;
}
.main-nav > li:hover .sub-menu__level_two{
 display: block;
}
.sub-menu__level_two  li:hover .sub-menu__level_three{
 display: block;
}
/* need new opinion how did it marker ????*/
#marker>a:before{
 content:"";
 position: relative;
 top:10px;
 right:2px;
 border-left: 4px solid transparent;
 border-right: 4px solid transparent;
 border-top: 5px solid rgba(255,255,255,1);
}
.page-header__logo {
 display: flex;
 height: 560px;
 flex-direction: row;
 justify-content: flex-start;
 align-content: center;
 flex-wrap: wrap;
 color: #fff;
 background-image: url("../img/background-01.jpg");
 background-repeat: no-repeat;
 background-position: 50% 0;
 background-size: cover;
 filter: brightness(100%);
 background-color: rgba(0,0,0,0.5);
 background-blend-mode: darken;
}
.page-header__logo span {
 margin-left:80px;
 width:100%;

}
.page-header__logo a {
 padding: 15px 25px;
 transition: 500ms ease;
 color:#fff;
 width:auto;
 text-transform: uppercase;
 text-decoration: none;
}
.page-header__first-title {
 font-size: 22px;
 font-weight: normal;
 font-style: italic;
}
.page-header__main-title {
 font-size: 44px;
 font-style: italic;
 margin: 25px 0 80px 0;
}
.page-header__last-title {
 font-size:14px;
 font-family:'arial';
 margin-bottom: 80px;
}

.page-header__blur-link {
 background-color: rgba(0,105,168,0);
 margin-left:80px;
 outline:1px solid #fff;
}
.page-header__blur-link:hover {
 background-color: rgba(0,105,168,1);
}
.page-header__unblur-link {
 background-color: rgba(0,105,168,1);
 margin-left:30px;
}
.page-header__unblur-link:hover {
 transition: 500ms ease;
 outline:1px solid #fff;
 background-color: rgba(0,105,168,0);
}
.main-content {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 flex-wrap: wrap;
 background-color: #fff;

}
.main-content img {
 margin: 25px 0px;
 width:475px;
 height:355px;
}
.main-content__first-text, .main-content__last-text {
 margin: 0 30px;
 display: flex;
 flex-direction: row;
 align-items: space-around;
 color: #808080;
 margin-bottom: 50px;
 font-size: 16px;
 width: 100%;
}
.main-content__first-text  a, .main-content__last-text a {
 padding: 15px 25px;
 transition: 500ms ease;
 color:#fff;
 background-color: rgba(0,105,168,1);
 text-transform: uppercase;
 text-decoration: none;
}
.main-content__first-text a:hover , .main-content__last-text a:hover {
 transition: 500ms ease;
 color: #FFF;
 background-color: rgba(0,105,168,0);
 outline:1px solid #FFF;
}

.main-content__first-text  section {
 margin-top: 35px;
}
.main-conent img {
  margin-left: 80px;
}
.main-content__first-text section:nth-child(1) {
 min-width: 300px;
}
.main-content__first-text section p:nth-child(1) {
 font-size: 12px;
}
.main-content__first-text section:nth-child(1)  p:nth-child(2) {
 font-size: 28px;
 font-style: italic;
}
.main-content__first-text section:nth-child(2)  p {
 font-size: 22px;
}
.main-content__first-text section:nth-child(2)  p:nth-child(2) {
padding-bottom: 20px;
}

.main-content__last-text {
 display: flex;
 height: 300px;
 width: 100%;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 color: #fff;
 background-image: url("../img/background-02.jpg");
 background-repeat: no-repeat;
 background-position: 50% 0;
 background-size: cover;
 filter: brightness(100%);
 background-color: rgba(0,0,0,0.5);
 background-blend-mode: darken;
font-size: 16px;
margin:0;
}
.content__title {
font-size: 24px;
font-style: italic;
margin-top: 50px;
}
.content__description {
	margin-bottom: 70px;
}
/* change thats mistake and did one code*/
.content-link {
 padding: 15px 25px;
 transition: 500ms ease;
 color:#fff;
 background-color: rgba(0,105,168,1);
 text-transform: uppercase;
 text-decoration: none;

}
.content-link:hover {
 transition: 500ms ease;
 color: #FFF;
 background-color: rgba(0,105,168,0);
 outline:1px solid #FFF;
}
.featires-items {
	display: flex;
	background-color: #fff;
	flex-direction: column;
	flex-wrap: wrap;
}

.featires-items section {

display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 30px;

}

.featires-items ul {
	display: flex;
	flex-direction: row;
justify-content: space-between;
justify-content: space-around;



}
.featires-items ul li {
 outline: 2px solid;

}